body {
  padding: 20px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #333;
}

body, textarea, button {
  font-size: 20px;
}

label, h2 {
  font-weight: bold;
  font-size: 20px;
}

h2 {
  margin-top: 2em;
}

textarea {
  width: 100%;
  max-width: 50em;
  height: 2em;

  &:focus {
    height: 7em;
  }
}
