<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag title() %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header>
      <h1><a href="/"><%= title() %></a></h1>
    </header>

    <main role="main">
      <%= @inner_content %>
    </main>

    <footer>
      <p>As parsed by Elixir <%= System.version %>.</p>
      <p>Made with 🐝 by <a href="https://henrik.nyh.se">Henrik Nyh</a> as <a href="https://github.com/henrik/qed">open source</a>.</p>
      <p><a href="https://en.wikipedia.org/wiki/Q.E.D.#Difference_from_Q.E.F.">Q.E.F.</a></p>
    </footer>
  </body>
</html>
