<form>
  <p><label for="code">Code:</label></p>
  <p>
    <textarea name="code">IO.puts("Hello <b>bold</b> world!")</textarea>
  </p>
  <button>Show me</button>
</form>

<h2>Code</h2>

<pre><code><%= @code %></code></pre>
