<div class="intro">
  <p>Visualizes the quoted form of Elixir code. This can be helpful when you write macros.</p>
</div>

<form>
  <p><label for="code">Code:</label></p>
  <p>
    <textarea name="code">IO.puts("Hello <b>bold</b> world!")</textarea>
  </p>
  <button>Show me</button>
</form>

<%= if @code do %>

  <div class="output">

    <h2>Code</h2>

    <pre><code><%= @code %></code></pre>

    <h2>Quoted expression</h2>

    <code><%= quoted(@code) %></code>

  </div>

<% end %>
